# dependencies
node_modules/

# env
.env
.env*.local

# next.js
.next/
frontend/.next/
out/
build/
dist/
*.tsbuildinfo

# prisma
backend/prisma/dev.db*

# vercel
.vercel

# misc
.DS_Store
*.log
npm-debug.log*
